*{
  /* border: 3px blue dashed; */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  footer{
    background-image:url("assets/footer-background.svg");
  }

  .footer-wrapper {
    width:100%;
    display: grid;
    grid-gap: 3px;
    padding:10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        ". c c c c c c . . w . ."
        ". c c c c c c . . s . ."
        ". c c c c c c . . b . .";
}

.contact-wrapper {
    grid-area: c;
}

.circle-wrapper{
  grid-area: w;
}
.star-wrapper {
    grid-area: s;
}

.star-burst-wrapper {
    grid-area: b;
}

/* typographic styling */
h3{
  margin-bottom:0px;
}
h5{margin-top:5px;}

  
  /* For desktop devices */
  @media screen and (min-width: 768px) {
    .footer-wrapper {
      width:100%;
      display: grid;
      grid-gap: 3px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto auto;
      grid-template-areas: 
          ". c c c c c c . . w . ."
          ". c c c c c c . . s . ."
          ". c c c c c c . . b . .";
  }
  }